@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
    @apply text-7xl md:text-8xl lg:text-9xl;
}

.btn {
    @apply px-4 py-1 dark:text-white text-black rounded-md font-medium;
}

.btn-gradient, .bg-gradient {
    @apply bg-gradient-to-r from-primary to-secondary;
}

.btn-primary {
    @apply bg-primary;
}

.btn-secondary {
    @apply bg-secondary;
}

.btn-primary-border {
    @apply border border-primary;
}

.btn-secondary-border {
    @apply border border-secondary;
}